.buycar_center{
	margin-top: 30px;
	margin-bottom: 30px;
	padding: 20px 15px 40px 15px;
	background-color: white;
	align-items: center;
}

.buycar_title{
	width: 100%;
	height: 30px;
	padding-bottom: 10px;
}

.buycar_title2{
	font-size: 14px;
	font-weight: 600;
	color: #FF4500;
	padding-right: 10px;
}

.buycar_title3{
	font-size: 14px;
	font-weight: 600;
	padding-right: 10px;
}

.buycar_sum{
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	color: #000000;
}

.buycar_sum2{
	color: #FF4500;
	font-weight: 600;
	padding-right: 10px;
}

.buycar_sum3{
	font-size: 14px;
	line-height: 20px;
	height: 20px;
	width: 40px;
	color: #FFFFFF;
	background-color: #ADADAD;
	text-align: center;
}

.buycar_banner{
	width: 100%;
	height: 30px;
	background: #E3E3E3;
	margin: 0px auto;
	display: flex;
	align-items: center;
	font-size: 12px;
}

.buycar_banner input{
	margin: 0px;
}

.buycar_banner_all{
	float: left;
	width: 12%;
	padding-left: 5px;
}

.buycar_banner_message{
	float: left;
	width: 33%;
}

.buycar_banner_price{
	float: left;
	width: 16%;
}

.buycar_banner_num{
	float: left;
	width: 7.5%;
}

.buycar_banner_cash{
	float: left;
	width: 16%;
}

.buycar_banner_option{
	float: left;
	width: 10%;
}

.details{
	width: 100%;
	padding: 0px;	
	margin-top: 20px; 
	border: solid; 
	border-width: 1px; 
	border-color:#C0C0C0 ;
	margin-bottom: 20px;
}
.content_container{
	width: 100%;
	margin: 10px 0px 0px 0px;
	/*-webkit-flex: 5.6; flex: 5.6;*/
}

.content_row{
	clear: both;
	width: 100%;
	border-top:dashed 1px #C0C0C0;
	height: 105px;	
	padding: 10px 0px 10px 0px;
	margin: 0px;
	float: left;
}

.content{
	padding: 0px;
	display:flex; 
	display: -webkit-flex; 
	width: 100%;
	border-bottom: dashed 1px #C0C0C0;
	margin-bottom: 40px;
	font-size: 14px;
}

.content_container ul{
	list-style: none;
}

.content_container ul li{
	float: left;
}

.buycar_content_checkbox{
	float: left;
	align-items: center;
	display: flex;
	height: 80px;
	width: 30px;
	padding: 0px 10px;
}

.buycar_content_img{
	float: left;
	padding: 0px;
	width: 11%;
} 

.buycar_content_message{
	float: left;
	font-size: 14px;
	padding-left: 5px;
	width: 34%;
}

.buycar_content_price{
	float: left;
	width: 12.5%;
	color: orangered;
}

.buycar_content_num{
	float: left;
	width: 9.5%;
	line-height: 26px;
	overflow: hidden;
}

.buycar_content_cash{
	float: left;
	width: 15%;
	font-size: 12px;
	font-weight:300;
	color: #FF4500;
}

.buycar_content_option{
	float: left;
	width: 10%;
}

.buycar_content_message a{
	text-decoration: none;
} 

.content_center{
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.buycar_content_message p{
	font-size: 14px;
	color: #C0C0C0;
	padding: 3px 0px;
	margin: 0px;
}

.buycar_content_num em{
	display: block;
	height: 26px;
	width: 20%;
	float: left;color: #7A7979;
	border: 1px solid;
	text-align: center;
	cursor: pointer;
}
	
.buycar_content_num .num{
	display: block;
	float: left;
	text-align: center;
	width: 30%;
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	border-top:solid 1px;
	border-bottom:solid 1px;
	border-left:none ;
	border-right:none ;
}
	
.buycar_content_num em.add{
	float: left;
	border-right: 0;
	border: 1px solid;
}

.sum_price{
	background: #FFFFFF;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}

.sum_price ul{
	list-style: none;
}

.sum_price ul li{
	float: left;
}

.sum_price_checkbox{
	width: 3%;
	padding-right: 5px;
	display: flex;
	align-items: center;
	margin: 0px auto;
	height: 45px;
}

.sum_price_all{
	width: 5%;
}

.sum_price_delete{
	width: 48%;
}

.sum_price_s{
	width: 12%;
}

.sum_price_s span{
	color: #D43F3A;
	font-weight: 600;
}

.sum_price_z{
	font-size: 14px;
	width: 24%;
}

.sum_price_z span{
	color: #D43F3A;
	font-weight: 600;
}

.price_logo{
	width: 8%;
	font-size: 18px;
	background:#234DC8;
	color: #FFFFFF;
	text-align: center;
}