.center{
	margin-top: 50px;
	align-items: center;
	padding:15px 30px;
	background: #FFFFFF;
	}

.order{
	margin: 0px auto;
	width:474px;
	height: 23px;
}

.order-stepbar{
    /*border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;*/
    list-style: none;
}
.order-stepbar .stepbar-current {
    background-color: #F0AD4E;
    color: #fff;
    list-style: none;
}
.order-stepbar li {
	float: left;
    width: 158px;
    height: 23px;
    font-size: 14px;
    position: relative;
    background: url(../img/confirm/confirm_buy_steper.png) 100% -1040px no-repeat #E4E4E4;
    color: #404040;
    font-weight: 700;
    box-sizing: border-box;
    padding-right: 15px;
    text-align: center;
    list-style: none;
}
.order-stepbar .stepbar-last {
    /*border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;*/
    background-image: none;
    list-style: none;
}

.order_content{
	width: 100%;
	margin-top: 30px; 
	border: solid; 
	border-width: 1px; 
	border-color:#C0C0C0 ;
}

.order_t{
	padding: 15px 5px;
}

.s_a{
	font-size: 14px;
	font-weight: bold;
	padding-right: 10px;
}

.m_a{
	text-decoration: none;
	font-size: 10px;
}

.a_s{
	padding-left: 30px;
	padding-bottom: 15px;
}

.btn-group p{
	cursor: pointer;
	font-size: 14px;
	color: #C0C0C0;
	height: 21px;
	line-height: 21px;
	display:flex;
	align-items:center;
}

.btn-group p input{
	margin-top: 0px;
	height: 21px;
}

.s_people{
	margin-bottom: 15px;
}

.s_zone{
	margin-bottom: 15px;
}

.t_zone{
	color: #C0C0C0;
}
.s_zone span{
	font-size: 14px;
}

.s_people span{
	color: #C0C0C0;
	font-size: 14px;
}

.s_people input{
	height: 21px;
	color: #000000;
}

.s_xa{
	margin-bottom: 15px;
}

.s_xa span{
	color: #C0C0C0;
	font-size: 14px;
}

.s_xa input{
	height: 21px;
	color: #000000;
}

.pay{
	margin-top: 30px; 
	border: solid; 
	border-width: 1px; 
	border-color:#C0C0C0 ;
	width: 100%;
}

.pay p{
	font-size: 14px;
	font-weight: bold;
	padding: 15px 5px;	
	margin: 0px;
}

.pay_group{
	padding-left: 30px;
}

.zhifubao{
	margin-right: 50px;
}

.zhifubao input{
	margin-top: 0px;
	height: 21px; 
}

.wechat{
	margin-top: 0px;
	height: 21px;
	color: #C0C0C0;
}

.pay span{
	font-size: 14px;
	height: 21px;
	line-height: 21px;
	display: inline-flex;
	align-items:center;
}

.confirm_order{
	margin-top: 30px; 
	border: solid; 
	border-width: 1px; 
	width: 100%;
	border-color:#C0C0C0 ;
	padding: 0px;
}

.order_title_pading{
	padding: 0px;
}

.order_title{
	/*float: left;
	background: url(../img/confirm/confirm_buy_steper.png) 100% -1040px no-repeat #E4E4E4;
	width: 125px;
    height: 23px;
    font-size: 14px;
    position: relative;
    font-weight: 700;
    box-sizing: border-box;
    text-align: center;
    background-color: #ADADAD;
    margin-bottom: 20px;*/
   padding: 15px 20px;
   font-weight: bold;
}

.order_message{
	background: #234dc8;
	color: white;
	display:flex;
	align-items:center;
	padding: 0px;
	margin: 0px auto;
}

.order_message_items{
	padding-left:30px ;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*padding-right: 20%;*/
	width: 40%;
}

.order_message_price{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*padding-right: 10%;*/
	width: 25%;
}

.order_message_num{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	
	width: 10%;
}

.order_message_sum{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*padding-right: 10%;*/
	width: 15%;
	
}

.order_message_trans
{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	/*padding-right: 2.5%;*/
	width: 7.5%;
}

.order_offer{
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	padding-left: 25px;
	margin: 0px auto;
}

.order_offer a{
	text-decoration: none;
	font-size: 6px;
}

.order_details{
	width: 96%;
	padding: 0px;	
	margin-top: 20px; 
	border: solid; 
	border-width: 1px; 
	border-color:#C0C0C0 ;
	margin-bottom: 20px;
}

.item_content{
	padding: 0px 0px 0px 5px;
	display:flex; 
	display: -webkit-flex; 
	width: 100%;
	border-bottom: dashed 1px #C0C0C0;
	margin-bottom: 40px;
}

.items_content_container{
	width: 80%;
	margin: 10px 10px 0px 10px;
	-webkit-flex: 5.6; flex: 5.6;
}

.items_content_row{
	border-top:dashed 1px #C0C0C0;
	height: 105px;	
	padding: 10px 0px 10px 5px;
	border-right: dashed 1px #C0C0C0;
}

.items_content_container ul{
	list-style: none;
}

.items_content_container ul li{
	float: left;
}

.items_content_checkbox{
	align-items: center;
	display: flex;
	height: 80px;
	width: 40px;
}

.items_content_img{
	padding: 0px;
	width: 11%;
} 

.items_content_message{
	font-size: 14px;
	padding-left: 5px;
	width: 32%;
}

.items_content_message a{
	text-decoration: none;
} 

.items_content_center{
	height: 80px;
	display: flex;
	align-items: center;
	font-size: 14px;
}

.items_content_message p{
	font-size: 14px;
	color: #C0C0C0;
	padding: 3px 0px;
	margin: 0px;
}

.price{
	width: 30%;
	color: orangered;
}

.num{
	padding-right: 6%;
	width: 12%;
}

.sum{
	font-size:12px ;
	font-weight: 600;
	color: orangered;
}

.right_message{
	border-top:dashed 1px #C0C0C0;
	height:300px;
	-webkit-flex: 1;
	flex:1;
	margin-top: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.c_link{
	color: #234DC8;
}

.trans_fee2{
	text-align: center;
}

.sum_cash{
	font-size:20px ;
	margin-bottom: 20px;
}

.post_message{
	width: 96%;
	padding: 0px; 
	margin-bottom: 30px;
	font-size: 14px;
}

.post_message_font{
	color: orangered;
}

.checkbox_css {
  width: 20px;
  position: relative;
  margin: 20px auto;
}
/*
.checkbox_css label {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background: #fcfff4;
  border: solid 1px #ADADAD;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.checkbox_css label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 4px;
  left: 4px;
  border: 3px solid #234dc8;
  border-top: none;
  border-right: none;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.checkbox_css label:hover::after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
.checkbox_css input[type=checkbox] {
  visibility: hidden;
}
.checkbox_css input[type=checkbox]:checked + label:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}*/
