.nav-bar{
	text-align: center;
	align-items: center;
	background-color: #234DC8;
}
.nav-bar ul{
	width: 58%;
	margin:0%  21%;
}
.nav-bar ul li{
	width: 25%;
	height: 46spx;
}
.nav-bar ul li a{
	font-size: 14px;
	color: white;
	margin: 0 auto;
	padding: 0px;
	line-height: 46px;
	border-radius: 0px;
	border: hidden;
}
.nav-bar ul li a:hover{
	background-color:white ;
	color: #234DC8;
	border-radius: 0px;
	border: hidden;
}
.content ul{
	list-style: none;
}
.content ul li{
	float: left;
	height: 240px;
}
.text_content{
	align-items: center;
	height: 300px;
	margin: 40px 0px;
	padding-right: 30px;
	/*padding-left: 0;*/
}
.img_content {
	height: 300px;
	margin: 40px 0px;
	/*padding-left: 30px;*/
	padding-right: 30px;
}
.title{
	width: 100%; 
	font-size: 18px;
	font-weight: 600;
	position:relative;
	top:40%;
	transform:translateY(-50%);
}
.content{
	padding-right: 10%;
	position:relative;
	top:40%;
	transform:translateY(-50%);
}
.title2{
	text-align: right;
	width: 100%; 
	font-size: 18px;
	font-weight: 600;
	position:relative;
	top:40%;
	transform:translateY(-50%);
}
.content2{
	padding-left: 30px;
	text-align: right;
	position:relative;
	top:40%;
	transform:translateY(-50%);
}
.sum_price{
	background: #FFFFFF;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
}

.sum_price ul{
	list-style: none;
}

.sum_price ul li{
	float: left;
}

.sum_price_checkbox{
	width: 3%;
	padding-right: 5px;
	display: flex;
	align-items: center;
	margin: 0px auto;
	height: 45px;
}

.sum_price_all{
	width: 5%;
}

.sum_price_delete{
	width: 48%;
}

.sum_price_s{
	width: 12%;
}

.sum_price_s span{
	color: #D43F3A;
	font-weight: 600;
}

.sum_price_z{
	font-size: 14px;
	width: 24%;
}

.sum_price_z span{
	color: #D43F3A;
	font-weight: 600;
}

.price_logo{
	width: 8%;
	font-size: 18px;
	background:#234DC8;
	color: #FFFFFF;
	text-align: center;
}


@media (min-width: 1920px) {
	.banner{
		width: 57.15%;
		margin: 0px 20.5%;
		
	}
}