{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>在线练习</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/jquery-3.0.0.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'CodeMirror-5.12.0/lib/codemirror.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-3.0.0.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CodeMirror-5.12.0/lib/codemirror.css' %}">
{#    自动补全hint#}
    <link rel="stylesheet" href="{% static 'CodeMirror-5.12.0/addon/hint/show-hint.css' %}">
    <script src="{% static 'CodeMirror-5.12.0/addon/hint/show-hint.js' %}"></script>
    <script src="{% static 'CodeMirror-5.12.0/addon/hint/anyword-hint.js' %}"></script>
    <link rel="stylesheet" href="{% static 'CodeMirror-5.12.0/theme/seti.css' %}">
    <script src="{% static 'CodeMirror-5.12.0/addon/edit/matchbrackets.js' %}"></script>
    <script src="{% static 'CodeMirror-5.12.0/mode/python/python.js' %}"></script>
</head>
<body>
    <form action="{% url 'onlinepractice'%}" method="post">
        <div class="alert alert-info" role="alert" style="margin-bottom: 0px">在此输入代码（Shift + Enter 智能补全）</div>
        <textarea name="editor" id="editor" cols="30" rows="10"></textarea>
        <button style="margin-top: 5px" id="editor-button" type="button" class="btn btn-info">提交</button>
    </form>

    <div class="alert alert-info" role="alert" style="margin-bottom: 0px; margin-top: 20px">在此显示结果</div>
    <textarea name="editor-show" id="editor-show" cols="30" rows="10"></textarea>
</body>
    <script>
        var myTextarea = document.getElementById('editor');
        var CodeMirrorEditor = CodeMirror.fromTextArea(myTextarea, {
            mode: "text/x-python",
            lineNumbers: true,
            theme: "seti",
            matchBrackets:true,
            extraKeys: {"Shift-Enter": "autocomplete"}

        });
        var value = "# -*- coding: utf-8 -*- \n# 请输入代码\n";
        CodeMirrorEditor.setValue(value);

        var myTextarea_show = document.getElementById('editor-show');
        var CodeMirrorEditor_show = CodeMirror.fromTextArea(myTextarea_show, {
            mode: "text/x-python",
            lineNumbers: true,
            theme: "seti",
            matchBrackets:true,
{#            extraKeys: {"Shift-Enter": "autocomplete"},#}
            readOnly: 'nocursor'
        });
        var value_show = "# -*- coding: utf-8 -*- \n# 显示结果：\n";
        CodeMirrorEditor_show.setValue(value_show);

{#        上面的命令另外用js文件装载，以下为ajax指令#}
        $('#editor-button').click(function () {
            var text = CodeMirrorEditor.getValue();
            $.ajax({
            url: '{% url 'onlinepractice' %}',
            data: {'editor': text}, // 序列化表单
            type: 'POST',
            dataType: 'json',
            success: function (data) {
{#                console.log(data['output']);#}
                CodeMirrorEditor_show.setValue(data['output'])
                }
            })
        })

    </script>
</html>