.container{overflow-x:hidden;overflow-y:auto;-webkit-overflow-scrolling:touch}
.mifiHome_m-box{padding:0px}
.mifiHome_ul{ 
	list-style: none;
	padding: 0px;
	margin:2%;
}

.mifiHome_ul li{
	float: left;
	width: 44%;
	height: 100px;
	margin:3%;
}

.mifiHome_ul li a{
	background-position-y:20% ;
	background-position-x: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	line-height: 140px;
	font-size: 16px; 
	display: block;
	border-radius: 4px;
}

.mifiHome_ul li span{
	background-position-y:20% ;
	background-position-x: center;
	background-repeat: no-repeat;
	width: 100%;
	height: 100px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	line-height: 140px;
	font-size: 16px; 
	display: block;
	border-radius: 4px;
}

.rent{
	background-color: #f2775a;
	background-image: url(../img/rent.png);
}

.back{
	background-color: #f2b25b;
	background-image:url(../img/back.png) ;
}

.buy{
	background-color: #6fe366;
	background-image: url(../img/buy.png);
}

.inquiry_l{
	background-color: #5b9df1;
	background-image: url(../img/flow.png);
}

.inquiry_s{
	background-color: #f1dd5a;
	background-image: url(../img/sercet.png);
}

.person{
	background-color: #fb5983;;
	background-image: url(../img/user.png);
}

.data_line{
	background-color: #f660d5;
	background-image: url(../img/data_line.png);
}

.mifi{
	background-color: #baf05a;
	background-image: url(../img/trans.png);
}

.transfrom{
	background-color: #6c5aee;
	background-image: url(../img/voice.png);
}
.name{
	background-color: #5be4f2;
	background-image: url(../img/message.png);
}
.bunding{
	background-color: #8f62f5;
	background-image: url(../img/bunding.png);
}
.scenic{
	background-color: #ddd;
	background-image: url(../img/scenic.png);
}

.sos{
	background-color: #ddd;
	background-image: url(../img/sos.png);
}
a:hover
{
opacity: 0.8;
}