{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/experience.css' %}"/>
{% endblock %}

{% block title %}
    <title>经验之谈</title>
{% endblock %}

{% block content %}

<div class="container center">
    <div class="label"><h3 class="experience">Python编程的一些经验</h3></div>

    {% for article in article_list %}
    <div class="row row_s">
        <h4 class="title"><a href="{{ 'article' }}?article={{ article.title }}" class="">{{ article.title }}</a></h4>
        <p class="content">
            {{ article.article }}
        </p>
        <div class="message">
            作者：
            <span class="author">{{ article.user }}</span>
            <span class="time">{{ article.time|date:'Y年m月d日' }}</span>
        </div>
    </div>
    {% endfor %}

    {% include 'paginator.html' %}
</div>
{% endblock %}




